<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrMetalGodRadio V2!!!</title>
    <!--^This title is the title of the tab whenever you open it.-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
       
        <h1>
            <a href="/">
                <img src="{{ url_for('static', filename='images/MrMetalGodlogo.jpeg') }}" alt="MrMetalGodLogo" class="logo">
            </a>
        </img>
            MRMETALGOD RADIO: Metal for Mankind
        </h1>
          <nav>
            <a href="/report"> REPORT AN ISSUE</a>
        </nav>
        
    </header>



    <div class="section-white">
        <h1>WHO ARE WE?</h1>


        <p>
            MrMetalGod radio is the brain child of Mark Robinson, a lifelong metalhead with one mission...
            To create <strong> ONE HOME </strong> for <strong> ALL </strong> of his brothers and sisters in metal. 
        </p>


        <h2>What kind of metal?</h2>

        <p>
            If you're a fan of symphonic metal, 
            <strong>YOU CAME TO THE RIGHT PLACE!</strong>
            Before each show(Mondays at 7pm!) the setlist will be published, so you know exactly what we're playing!
        </p>
    </div>

</body>

</html>