<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrMetalGodRadio V2!!!</title>
    <!--^This title is the title of the tab whenever you open it.-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
       
        <h1>
            <a href="/">
                <img src="{{ url_for('static', filename='images/MrMetalGodlogo.jpeg') }}" alt="MrMetalGodLogo" class="logo">
            </a>
        </img>
            MRMETALGOD RADIO: Metal for Mankind
        </h1>
          <nav>
            <a href="/"> REPORT AN ISSUE</a>
        </nav>
        
    </header>
